.button_div{
    position: relative;
}
.button_div .addition{
    position: absolute;
    top: -35px;
    background-color: rgb(127, 255, 178);
    border: none;
    height: 80px;
    width: 80px;
    font-size: 40px;
    border-radius: 50%;
}